<%- include('../partials/header') %>

<h1 class="mb-4">🎮 Popular Games</h1>

<div class="row">
  <% games.forEach(game => { %>
    <div class="col-md-3 mb-4">

      <div class="card bg-secondary text-white h-100">

        <img src="<%= game.background_image %>" class="card-img-top">

        <div class="card-body">
          <h6><%= game.name %></h6>
          <p>⭐ <%= game.rating %></p>
        </div>

      </div>

    </div>
  <% }) %>
</div>

<%- include('../partials/footer') %>